body
{
		background-color: #939EAC;
}
.clear
{
	clear: both;
}

#header
{
	width: 100%;
	height: 80px;
	max-height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2C91BD;
	box-shadow: 0px 0px 10px grey;
}

#headercontent
{
	width:980px;
	min-width: 980px;
	max-width: 980px;
	margin: 20px auto;
}

.logo
{
	float: left;
	font-size: 36px;
	color: #002033;
}

#navigation
{
	float: right;
	margin-right: -20px;
}
.navbutton
{
	text-color: #002033;
	float: left;
	font-size: 24px;
	margin: 10 20px;
}
.navbutton a
{
	color: #002033;
	text-decoration: none;
}
.navbutton a:hover
{
	color: #002033;
	border-bottom: 3px solid #F4FA40;
}
.navbutton a:active
{
	color: #F4FA40;
}
#activeNav
{
	border-bottom: 2px solid #F4FA40;
}



#main
{
}

#content
{
	box-sizing: border-box;
	padding: 90 20 20 20;
	background-color: white;
	min-height: 700px;
	width: 980px;
	min-width: 980px;
	max-width: 980px;
	margin: auto;
	box-shadow: 0px 0px 10px grey;
}
#content.registration
{
	padding: 70 0 20 0;
}

.reg_section
{
	box-sizing: border-box;
	display: block;
	width: 980px;
	padding: 15px 20px 0px 20px;
	border-bottom: solid;
}
.reg_section.closed
{
	height: 50px;
	background-color: #B4D2DA;
}
.reg_section.closed a:link, a:hover, a:active
{
	color: #002033;
	text-decoration: none;
}
.reg_section.closed:hover
{
	background-color: #F4FA40;
}
.reg_section.open
{
	padding: 15px 20px 20px 20px;
}

.button
{
	display: inline;
	padding: 10 30 10 30;
	color: #002033;
	border-color: #002033;
	background-color: #B4D2DA;
}
#buttonbar .button
{
	float: left;
	border-left: solid;
	border-size: 1;
	border-color: #2C91BD;
}
#buttonbar .button.left
{
	border-left: none;
}
#activeBar
{
	background-color: #F4FA40;
}

#tournaments_content
{

}